* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: tan;
    color: white;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    color: white;
}
a:visited {
    color: beige;
}
a:hover , a:active {
    color: blanchedalmond;
}

.header{
    background-color: tan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/* header */

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header-img {
    background-image: url("./images/header-img.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-bottom: 25px;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 90px;
    color: #daa551;
}

.centered {
    position: relative;
    text-align: center;
    color: black;
  }

.topic {
    align-items: center;
    display: flex;
    float: left;
    height: 300px;
    justify-content: center;
    padding: 20px;
    width: 25%;
}

.content {
    align-items: center;
    display: flex;
    float: right;
    height: 300px;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    width: 70%;
}

/* about section */


.topic-about {
    align-items: center;
    border-right: 10px solid white;
    display: flex;
    float: left;
    font-size: 40px;
    height: 300px;
    justify-content: center;
    margin: 20px;
    padding: 50px;
    position: absolute; 
    text-align: center;
    width: 25%;
}

.content-about p{
    align-items: center;
    display: flex;
    float: right;
    font-size: 20px;
    height: auto;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 70%;
}

.content-about img {
    align-items: center;
    border-radius: 10px;
    border: 2px solid white;
    display: flex;
    height: 200px;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 350px;
    width: auto;
}

/* work section */

.topic-work {
    align-items: center;
    border-right: 10px solid white;
    display: flex;
    float: left;
    font-size: 40px;
    height: 550px;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 600px;
    width: 25%;
}

.content-work {
    align-items: center;
    display: flex;
    float: right;
    font-size: 20px;
    height: 550px;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 600px;
    width: 70%;
}

.big {
    align-items: center;
    border: 2px solid white;
    padding: 10px;
    position: absolute;
    right: 200px;
    top: 50px;
    width: 60%;
}

.content-work:hover {
    opacity: .5;
}

.img2 {
    border: 2px solid white;
    height: 160px;
    padding: 10px;
    position: absolute;
    right: 550px;
    top: 900px;
    width: 25%;
}

.img2:hover {
    opacity: .5;
}

.img3 {
    border: 2px solid white;
    height: 160px;
    padding: 10px;
    position: absolute;
    right: 150px;
    top: 900px;
    width: 25%;
}

.img3:hover {
    opacity: .5;
}


/* contact section*/

.topic-contact {
    align-items: center;
    border-right: 10px solid white;
    display: flex;
    float: left;
    font-size: 40px;
    height: 300px;
    justify-content: center;
    margin-top: 60px;
    margin: 20px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 1110px;
    width: 25%;
}

ul {
    list-style-type: none;
  }
  
.content-contact {
    align-items: center;
    display: flex;
    float: right;
    font-size: 40px;
    height: 300px;
    justify-content: center;
    margin-top: 60px;
    margin: 20px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 1110px;
    width: 70%;
}

