* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: tan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    color: white;
}
a:visited {
    color: beige;
}
a:hover , a:active {
    color: blanchedalmond;
}

.header{
    background-color: tan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/* header */

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header-img {
    background-image: url("./images/header-img.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-bottom: 25px;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 90px;
    color: #daa551;
}

.centered {
    position: relative;
    text-align: center;
    color: black;
  }

/* about section */


.topic-about {
    border-right: 10px solid white;
    float: left;
    font-size: 40px;
    height: 300px;
    margin: 20px;
    padding: 50px;
    position: absolute; 
    text-align: center;
    width: 25%;
}

.content-about {
    width: 42%;
    height: 300px;
    font-size: 20px;
    display: block;
    float: right;
    margin-right: 80px;
}

.content-about img {
    padding-right: 20px;
    border-radius: 25%;
    position: absolute;
    padding: 10px;
    width: 15%;
    border: 5px;
    right: 750px;
}

/* work section */

.topic-work {
    border-right: 10px solid white;
    float: left;
    font-size: 40px;
    height: 550px;
    margin: 20px;
    padding: 50px;
    position: absolute;
    text-align: center;
    top: 600px;
    width: 25%;
}

.content-work {
    display: block;
    justify-content: center;
    float: right;
    height: 300px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 60%;
}

.big {
    position: absolute;
    padding: 10px;
    align-items: center;
    width: 60%;
    border: 5px solid white;
    right: 80px;
}

.content-work:hover {
    opacity: .5;
}

.img2 {
    width: 25%;
    height: 160px;
    padding: 10px;
    border: 5px solid white;
    position: absolute;
    top: 900px;
    right: 550px;
}

.img2:hover {
    opacity: .5;
}

.img3 {
    width: 25%;
    height: 160px;
    padding: 10px;
    border: 5px solid white;
    position: absolute;
    top: 900px;
    right: 150px; 
}

.img3:hover {
    opacity: .5;
}


/* contact section*/

.topic-contact {
    border-right: 10px solid white;
    float: left;
    font-size: 40px;
    height: 300px;
    margin: 20px;
    margin-top: 60px;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 1110px;
    width: 25%;
}

ul {
    list-style-type: none;
  }
  
.content-contact {
    align-items: center;
    float: right;
    font-size: 30px;
    height: 300px;
    left: 400px;
    margin: 10%;
    padding: 50px 0;
    position: absolute;
    text-align: center;
    top: 1000px;
    width: 60%;
}

/* media query for larger screens */

@media screen and (max-width: 992px) {
    .header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
      flex-direction: column;
      text-align: center;
    }
    .header h1 {
      width: 100%;
      text-align: center;
      margin: 5px
    }
    .header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
    .header-img{
        height: 400px;
    }
    h2 {
      width: 100%;
      text-align: center;
      margin: 5px  
    }
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* on tablets, set columns to only be 50% of the width and not grow *

@media screen and (max-width: 768px){

    .topic-about {
        flex-direction: row;
        justify-content: center;
        display: contents;
        padding: 10px
    }

    .content-about {
        padding: 10px;
        align-items: right;
        width: 33.33%;
        right: 80px;
        top: 700px;
        align-items: center;

    }
    
    .content-about img {
        position: absolute;
        padding: 10px;
        align-items: center;
        width: 50%;
        border: 5px solid white;
        right: 80px;
        margin: 20px;
    }

    .topic-work {
        float: left;
        font-size: 40px;
        height: 550px;
        margin: 20px;
        padding: 50px;
        position: absolute;
        text-align: center;
        top: 1000px;
        width: 25%;
    }
    
    .content-work {
       display: block;
        justify-content: center;
        float: right;
        height: 300px;
        margin: 10px;
        padding: 10px;
        align-items: center;
        width: 60%; 
        top: 1500px;
    }
    
    .big {
        position: absolute;
        padding: 10px;
        width: 80%;
        border: 5px solid white;
        right: 40px;
        top: 2000px;
    }
    
    .img2 {
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        border: 5px solid white;
        position: absolute;
        top: 900px;
        right: 550px;
        top: 2000px;
    }
    
    .img3 {
        flex-direction: row;
        justify-content: center;
        display: contents;
        padding: 10px;
        border: 5px solid white;
        position: absolute;
        top: 3000px;
        right: 150px; 
    }
    
    
    /* contact section*
    
    .topic-contact {
        flex-direction: row;
        justify-content: center;
        display: contents;
        padding: 10px;
        top: 3500px;
    }
      
    .content-contact {
        flex-direction: row;
        justify-content: center;
        display: contents;
        padding: 10px;
        position: absolute;
    }
*/
