* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: tan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header{
    background-color: tan;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 20px;
    padding-top: 15px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header-img {
    background-image: url("./images/header-img.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
    margin-bottom: 25px;
    width: 100%;
}

.centered {
    position: relative;
    text-align: center;
    color: black;
  }

.topic-about {
    border-right: 10px solid white;
    float: left;
    font-size: 40px;
    height: 300px;
    margin: 20px;
    padding: 50px;
    position: absolute; 
    text-align: center;
    width: 30%;
}

.topic-work {
    border-right: 10px solid white;
    float: left;
    font-size: 40px;
    height: 300px;
    margin: 20px;
    padding: 50px;
    position: absolute;
    text-align: center;
    top: 600px;
    width: 30%;
}

.topic-contact {
    border-right: 10px solid white;
    float: left;
    font-size: 40px;
    height: 300px;
    margin: 20px;
    padding: 50px;
    position: absolute;
    text-align: center;
    top: 900px;
    width: 30%;
}

.content-about {
    float: right;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 10px;
    text-align: left;
    width: 60%;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 150px;
    margin: 10px;
}


.content-work {
    float: right;
    height: 300px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    width: 60%;
}

.content-contact {
    float: right;
    height: 300px;
    margin: 10px;
    padding: 10px;
    text-align: left;
    width: 60%;
}

